@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&display=swap');

body{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-image: url(imagens/calculo.jpg);
}

h1{
    font-family: 'Biryani', sans-serif;
    font-weight: bolder;
}

input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

#form{
    width: 40%;
}

#n1{
    box-shadow: 4px 2px 2px black;
    border: none;
    border-radius: 5px;
}

#n2{
    box-shadow: 4px 2px 2px black;
    border: none;
    border-radius: 5px;
}

button{
    background-color: green;
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 4px 2px 2px black;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(0, 100, 0);
}

h3{
    font-family: 'Biryani', sans-serif;
}

p{
    font-family: 'Biryani', sans-serif;
    font-weight: bold;
}